body {
    background-color: #333;
    margin: 0;
    font-family: sans-serif;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
li {
    position: relative;
}
img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 100%;
    margin-left: 15px;
    padding: 0;
    margin-right: 15px;
}
h2,p {
    margin: 0;
    padding: 0;
    display: inline-block;
}
h2 {
    top: 5px;
    right: 46%;
    margin-bottom: 10%;
    position: absolute;
    left: 85px;
}
p {
    position: absolute;
    top: 40px;
    left: 11vw;
}
.contacts__profile {
    height: 3em;
    padding: 0.5em;
    border-bottom: 1px solid;
    width: 100%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}
.profile__slide {
    width: 100%;
    height: 100%;
    scroll-snap-align: end;
}
.profile__avatar::before {
    content: "";
    display: block;
    width: 0.5em;
    height: 0.5em;
    position: absolute;
    top: 2.3em;
    left: 3.5em;
    z-index: 1;
    border-radius: 100%;
}

.status--online .profile__avatar::before {
    background-color: green;
    border: 0.1em solid #234;
}

.status--ofline .profile__avatar::before {
    background-color: gray;
    border: 0.1em solid #234;
}
.app {
    width: 100vw;
    height: 100vh;
    background-color: #777;
}
.app header,
.app footer {
    height: 8vh;
    background-color: #123;
}
.app main {
    height: 84vh;
    background-color: #234;
    overflow-y: auto;
}
small {
    float: right;
    right: 4em;
    top: 10.5%;
    color: #008000;
    position: absolute;
}
.profile__actions {
    float: right;
    background-color: rgb(0, 106, 255);
    height: 100%;
    width: 100%;
    margin-right: -105%;
    margin-top: -3em;
    text-align: start;
}

.profile__actions button {
    width: 3em;
    height: 3em;
    font-size: 1em;
    background-color: rgb(0, 106, 255);
    border: 1px solid rgb(0, 106, 255);
}
@media (orientation: landscape) {
    .profile__avatar {
        margin-left: 2em;
    }

    h2 {
        margin-left: 2em;
    }
    p {
        margin-left: 3.8em;
    }
    .profile__avatar::before {
        margin-left: 2em;
    }
    .small {
        margin-right: 2em;
    }
}
@media (orientation: landscape) and (min-width: 1000px) {
    body {
        font-size: 25px;
    }
    .profile__avatar {
        margin-left: 2em;
    }
    h2 {
        margin-left: 2em;        
    }
    p {
        margin-left: 2em;
    }
    .profile__avatar::before {
        margin-left: 0.5em;
        margin-top: -1em;
    }
    .small {
        margin-right: 2em;
    }
}
